# Avaliando a sobrevivÃªncia dos passageiros do Titanic com PySpark, Jupyter, Pandas e Matplotlib

![title](img/titanic.jpg)

## Listando os arquivos

In [1]:
import os
os.listdir("data/titanic")

['gender_submission.csv', 'test.csv', 'train.csv']

## Iniciando o Spark

In [2]:
import pyspark 
from pyspark.sql import SparkSession

sc = pyspark.SparkContext('local[*]')
spark = SparkSession.builder.appName('Titanic with Pyspark').getOrCreate()

spark

## Leitura do CVS de treino

In [3]:
df = spark.read.csv("data/titanic/train.csv", header='true', sep=',', inferSchema='true')

df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

## Visualizando as 5 primeiras linha do arquivo com Pandas

In [4]:
df.toPandas().head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S